@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Bruno+Ace&family=Comfortaa:wght@400;600&family=Inter:wght@400;600&family=Poppins&family=Reem+Kufi+Fun:wght@400;700&family=Revalia&family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;700&display=swap');

.header {
  background-color: white;
  height: 4rem;
  width: 100%;
  min-width: 350px;
  z-index: 2;
  border-bottom: 2px solid #bababa;
  display: flex;
  align-items: center;
}

.title {
  font-family: 'Bruno Ace';
  font-size: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-ul {
  display: flex;
  align-items: center;
  gap: 2rem
}

@media(max-width:800px) {
  .concealable {
    display: none;
  }
}

.navbar-li {
  font-size: 1.5rem;
  cursor: pointer;
}

.li-Link {
  color: #232323;
}

.cart-container {
  position: relative;
}

.cart-quantity {
  position: absolute;
  z-index: 1;
  transform: translate(1.2rem, -1rem);
  padding: 5px;
  color: white;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7rem;
}

.empty {
  display: none;
}